name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

      # Install dependencies
    - name: Install dependencies
      run: npm ci

    # Install Playwright Browsers
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    # Run Playwright tests
    - name: Run Playwright tests
      run: npx playwright test

    # Upload Playwright report
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: TestDino Reporter
      if: always()
      env:
        TESTDINO_TOKEN: ${{secrets.TESTDINO_TOKEN}}
      run: >
        npx --yes tdpw upload playwright-report
        --token="${TESTDINO_TOKEN}"
        --upload-html
